@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles";
@source "../../../";

@theme {
    --font-figtree: "Figtree", sans-serif;
    --font-anonymous: "Anonymous Pro", monospace;

    --font-sans: var(--font-figtree), ui-sans-serif, system-ui, sans-serif;
    --font-mono: var(--font-anonymous), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
    h1 {
        @apply md:text-4xl text-3xl font-bold;
    }

    h2 {
        @apply md:text-2xl text-xl font-semibold;
    }

    h3 {
        @apply md:text-xl text-lg font-semibold;
    }

    h4 {
        @apply md:text-lg text-base font-semibold;
    }

    p {
        @apply md:text-base text-sm leading-relaxed;
    }

    /* HeroUI Default Theme */
    :root,
    .light,
    .default,
    [data-theme="light"],
    [data-theme="default"] {
        color-scheme: light;

        /* == Common Variables == */

        /* Primitive Colors (Do not change between light and dark) */
        --white: oklch(100% 0 0);
        --black: oklch(0% 0 0);
        --snow: oklch(0.9911 0 0);
        --eclipse: oklch(0.2103 0.0059 285.89);

        /* Spacing scale */
        --spacing: 0.25rem;

        /* Border */
        --border-width: 1px;
        --field-border-width: 0px;
        --disabled-opacity: 0.4;

        /* Ring offset - Used for focus ring */
        --ring-offset-width: 0px;

        /* Cursor */
        --cursor-interactive: pointer;
        --cursor-disabled: not-allowed;

        /* Radius */
        --radius: 0.1875rem;
        --field-radius: 0.5rem;

        /* == Light Theme Variables == */

        /* Base Colors */
        --background: oklch(97.02% 0.0000 0.00);
        --foreground: oklch(21.03% 0.0000 0.00);

        /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
        --surface: oklch(100.00% 0.0000 0.00);
        --surface-foreground: oklch(21.03% 0.0000 0.00);
        --surface-secondary: oklch(95.24% 0.0000 0.00);
        --surface-secondary-foreground: oklch(21.03% 0.0000 0.00);
        --surface-tertiary: oklch(93.73% 0.0000 0.00);
        --surface-tertiary-foreground: oklch(21.03% 0.0000 0.00);

        /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) */
        --overlay: oklch(100.00% 0.0000 0.00);
        --overlay-foreground: oklch(21.03% 0.0000 0.00);

        --muted: oklch(55.17% 0.0000 0.00);
        --scrollbar: oklch(87.10% 0.0000 0.00);

        --default: oklch(94.00% 0.0000 0.00);
        --default-foreground: oklch(21.03% 0.0059 0.00);

        --accent: oklch(0 0 0);
        --accent-foreground: oklch(99.11% 0 0);
        --accent-soft-foreground: oklch(0 0 0);

        /* Form Field Defaults - Colors */
        --field-background: oklch(100.00% 0.0000 0.00);
        --field-foreground: oklch(21.03% 0.0000 0.00);
        --field-placeholder: oklch(55.17% 0.0000 0.00);
        --field-border: transparent;

        /* Status Colors */
        --success: oklch(0.6277 0.1604 153.06);
        --success-foreground: oklch(98% 0.0160 153.06);

        --warning: oklch(0.8446 0.1525 80.6);
        --warning-foreground: oklch(15% 0.0457 80.60);

        --danger: oklch(0.573 0.2249 21.97);
        --danger-foreground: oklch(98% 0.0200 21.97);

        /* Component Colors */
        --segment: oklch(100.00% 0.0000 0.00);
        --segment-foreground: oklch(21.03% 0.0000 0.00);

        /* Misc Colors */
        --border: oklch(90.00% 0.0000 0.00);
        --separator: oklch(92.00% 0.0000 0.00);
        --focus: oklch(0 0 0);
        --link: var(--foreground);

        /* Backdrop */
        --backdrop: rgba(0, 0, 0, 0.5);

        /* Shadows */
        --surface-shadow:
            0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
            0 0 1px 0 rgba(0, 0, 0, 0.06);
        /* Overlay shadow */
        --overlay-shadow: 0 4px 16px 0 rgba(24, 24, 27, 0.08), 0 8px 24px 0 rgba(24, 24, 27, 0.09);
        --field-shadow:
            0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
            0 0 1px 0 rgba(0, 0, 0, 0.06);
        /* Skeleton Default Global Animation */
        --skeleton-animation: shimmer;
        /* shimmer, pulse, none */

        /* Tooltip Default Delays */
        --tooltip-delay: 0ms;
        --tooltip-close-delay: 500ms;
    }

    .dark,
    [data-theme="dark"] {
        color-scheme: dark;
        /* == Dark Theme Variables == */

        /* Base Colors */
        --background: oklch(17.00% 0.0000 0.00);
        --foreground: oklch(99.11% 0.0000 0.00);

        /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
        --surface: oklch(21.03% 0.0000 0.00);
        --surface-foreground: oklch(99.11% 0.0000 0.00);
        --surface-secondary: oklch(25.70% 0.0000 0.00);
        --surface-secondary-foreground: oklch(99.11% 0.0000 0.00);
        --surface-tertiary: oklch(27.21% 0.0000 0.00);
        --surface-tertiary-foreground: oklch(99.11% 0.0000 0.00);

        /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) - lighter for contrast */
        --overlay: oklch(21.03% 0.0000 0.00);
        --overlay-foreground: oklch(99.11% 0.0000 0.00);

        --muted: oklch(70.50% 0.0000 0.00);
        --scrollbar: oklch(70.50% 0.0000 0.00);

        --default: oklch(27.40% 0.0000 0.00);
        --default-foreground: oklch(99.11% 0 0);

        --accent: oklch(0.9848 0 0);
        --accent-foreground: oklch(15% 0.0000 0.00);
        --accent-soft-foreground: oklch(0.9848 0 0);

        /* Form Field Defaults - Colors (only the ones that are different from light theme) */
        --field-background: oklch(21.03% 0.0000 0.00);
        --field-foreground: oklch(99.11% 0.0000 0.00);
        --field-placeholder: oklch(70.50% 0.0000 0.00);
        --field-border: transparent;

        /* Status Colors */
        --success: oklch(0.6514 0.1321 156.22);
        --success-foreground: oklch(15% 0.0396 156.22);

        --warning: oklch(0.8803 0.1348 86.06);
        --warning-foreground: oklch(15% 0.0404 86.06);

        --danger: oklch(0.7044 0.1872 23.19);
        --danger-foreground: oklch(15% 0.0500 23.19);

        /* Component Colors */
        --segment: oklch(39.64% 0.0000 0.00);
        --segment-foreground: oklch(99.11% 0.0000 0.00);

        /* Misc Colors */
        --border: oklch(28.00% 0.0000 0.00);
        --separator: oklch(25.00% 0.0000 0.00);
        --focus: oklch(0.9848 0 0);
        --link: var(--foreground);

        /* Backdrop */
        --backdrop: rgba(0, 0, 0, 0.6);

        /* Shadows */
        --surface-shadow: 0 0 0 0 transparent inset;
        /* No shadow on dark mode */
        --overlay-shadow: 0 0 0 0 transparent inset;
        /* No shadow on dark mode */
        --field-shadow: 0 0 0 0 transparent inset;
        /* Transparent shadow to allow ring utilities to work */
    }
}

@layer components {
    .close-button {
        @apply bg-transparent text-foreground;
    }

    .tooltip {
        @apply rounded-[10px] px-4 py-2;
    }

    .table__column {
        @apply px-2 py-3;
    }

    .table__cell {
        @apply px-2 py-1.5 dark:bg-surface;
    }

    .table__footer {
        @apply px-2 pt-2 pb-1;
    }

    .table-root--secondary .table__column {
        @apply dark:bg-default;
    }

    .table-root--primary {
        @apply dark:bg-default;
    }

    .table__header {
        @apply dark:bg-default;
    }

    .select__popover {
        [data-slot="list-box-item"] {
            @apply pl-2.5 pr-8.5;
        }
    }

    .list-box-item {
        @media (hover: hover) {

            &:hover,
            &[data-hovered="true"] {
                @apply bg-surface-tertiary;
            }
        }
    }

    .modal__header {
        @apply flex flex-col gap-2;
    }

    .accordion__body-inner {
        @apply px-4 pb-4 pt-2 bg-transparent;
    }

    .accordion__trigger {
        @apply pl-4 pr-6 py-2 text-left text-base font-medium no-highlight;
    }

    .accordion__heading {
        @apply m-0;
    }

    .chip {
        @apply gap-1;
    }

    .chip svg {
        width: 12px !important;
        height: 12px !important;
    }

    .description svg {
        width: 12px !important;
        height: 12px !important;
    }

    .description {
        @apply flex items-center gap-1;
    }
}

/* * {
    scrollbar-color: var(--scrollbar) transparent;
    scrollbar-width: thin;
} */

.lucide {
    width: 16px;
    height: 16px;
}

@keyframes hero-wave-move {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes hero-particle-float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateY(calc(-1 * var(--rise, 220px)));
        opacity: 0;
    }
}