# .env
DATABASE_URL="postgresql://nextticket:nextticket@localhost:5432/venues_events_db?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=3003
GATEWAY_URL="http://localhost:3001"
JWT_SECRET=cambiame
